body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
section{
    padding: 100px 50px;
    border-radius: 5px;
    border: 1px solid burlywood;
    background: rgba(0, 0, 0, 0.747);
    width: 250px;
    display: grid;
    gap: 5px;
    position: relative;
    height: 300px;
}
.item{
    width: 100%;
    background: rgb(151, 132, 132);
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.item:active{
    background: royalblue;
}